.home-section{
    height: 100vh;
    width: 100%;
    background-image: url('/assets/aspirador.jpg');
    background-size: cover; /* Redimensiona a imagem para cobrir a área */
    background-position: center; /* Centraliza a imagem */
}