<section id="sobre-section">
    <div class="titulo-sobre">
        <h2>Sobre a LoreClean</h2> 
    </div>
    <div class="texto-sobre">
        <p>Há mais de cinco anos, a LoreClean tem sido uma referência na cidade de Piedade, São Paulo, no ramo de limpeza de tapetes, estofados e pós obras. Desde a nossa fundação, temos dedicado nossos esforços para oferecer serviços de alta qualidade e soluções eficientes para nossos clientes.

            Nosso compromisso com a excelência se reflete em cada aspecto do nosso trabalho. Utilizamos técnicas avançadas e produtos de qualidade para garantir resultados impecáveis em cada serviço prestado. Além disso, nossa equipe é composta por profissionais treinados e experientes, que estão totalmente dedicados a atender às necessidades específicas de cada cliente.
            
            Localizada estrategicamente em Piedade, estamos posicionados para atender tanto clientes residenciais quanto comerciais em toda a região. Oferecemos serviços tanto em nossa sede quanto no conforto do seu lar ou empresa, proporcionando conveniência e flexibilidade para todos os nossos clientes.
            
            Entendemos a importância de um ambiente limpo e saudável, e é por isso que nos esforçamos para superar as expectativas de nossos clientes em cada trabalho realizado.
            
            Na LoreClean, estamos comprometidos não apenas com a limpeza de superfícies, mas também com a satisfação total de nossos clientes. Nosso objetivo é proporcionar um ambiente mais higiênico e confortável para todos os que confiam em nossos serviços.
            
            Se você procura por serviços de limpeza confiáveis e de alta qualidade em Piedade e região, não hesite em entrar em contato conosco. Estamos aqui para atender às suas necessidades e garantir resultados excepcionais, seja em nossa sede ou no seu próprio espaço.</p>
    </div>
</section>


